@media only screen and (max-width: 500px) {
    .grid-container {
        grid-template-columns: 1fr
    }

    .grid-item3 {
        grid-column: span 1;
    }

    header {
        font-size: 0.65rem;
    }
}