port url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

main {
    text-align: center;
    background-color: bisque;
}

.list {
    display: flex;
    justify-content: left;
    width: 100%;
}

h1, ul, p {
    font: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    width: 1200px;
    align-items: center;
    background-color: aqua;
}

img {
  width: 100px;
  height: 150px;
  background-color: aqua;
  justify-content: left;
}

footer {
    background-color: aqua;
    width: 1200px;
    height: 120px;
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}